<div id="banner">
  <h3><%= ideas_header %></h3>

  <ul id="ideas_list">
    <% @ideas.each do |idea| %>
      <li><%=link_to idea.name, idea_path(idea)%> 
      <%=link_to "update", edit_idea_path(idea) %>
      <%= link_to "delete", idea_path(idea), method: :delete %></li>
    <% end %>
  </ul>

  <%= link_to "new idea", new_idea_path %>
  <%= link_to "logout", logout_path, method: :delete %>
</div>

