<div id="errors">
		<ul>
	<% @idea.errors.full_messages.each do |message| %>
	<li> <%= message %> </li>
	<% end %>
	</ul>
</div>

<h3> Create a new idea! </h3>

<%= form_for([@user, @idea]) do |f|%>
	<%= f.label :name %>
	<%= f.text_field :name %><br>

	<%= f.label :body %>
	<%= f.text_field :body %>

	<%= f.submit "submit idea" %>

<% end %>