<h2> Idea Details </h2>

<h4> <%= @idea.name %> </h4>
<p>  <%= @idea.body %> </p>

<%=link_to 'ideas index', ideas_path %>
<%=link_to "update", edit_idea_path(@idea) %>
<%=link_to "delete", idea_path(@idea), method: :delete %>
