<h2> Idea Details </h2>

<h4> <%= @idea.name %> </h4>
<p>  <%= @idea.body %> </p>

<%=link_to 'ideas index', user_ideas_path %>
<%=link_to "update", edit_user_idea_path(@user.id, @idea.id) %>
<%=link_to "delete", user_idea_path(@user.id, @idea.id), method: :delete %>
