<h3> All Categories </h3>
<h4> Admin Only! </h4>

<ul>
  <% @categories.each do |category| %>
    <li>
      <%= category.name %><%= link_to "edit", edit_category_path(category) %>
      <%= link_to "delete", category_path(category), method: :delete %>
  <% end %>
    </li>
</ul>

<%= link_to "all ideas", ideas_path %>
<%= link_to "create category", new_category_path %>